<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data source=|DataDirectory|\pms.accdb" />
    <add name="PatientMonitoringSystem.Properties.Settings.pmsConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pms.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>